.wrapped{
    margin: 0 auto;
    width: 1200px;
}

body{
    background-color: #f3f5f7;
}

/* 头部 */
.header{
    height: 100px;
    padding-top: 29px;
    background-color: #fff;
    
}

.header .wrapped{
    display: flex;
    /* margin-top: 29px; */
}

/* logo */
.header .wrapped .logo a{
    display: block;
    height: 70px;
    width: 195px;
    background-image: url(./images/logo.png);
	background-size: cover;
	background-position: center;
    font-size: 0px;
}

/* 标签栏 */
.nav ul{
    display: flex;

    margin-left: 80px;
    padding-top: 20px;
}

.header .wrapped .nav ul li a{
    display: block;
    padding: 4px 4px;
    /* height: 27px; */
    width:80px;
	text-align: center;
    font-size: 17px;
    line-height: 27px;
    /* color: #333333; */
}

.nav ul li{
    margin-right: 24px;
}

.nav ul li:nth-child(1),
.nav ul li:hover{
    border-bottom: 2px solid #00a4ff;
}

/* 搜索框 */
.header .wrapped .sear{
    display: flex;
    margin-left: 64px;
    height: 40px;
    width: 412px;

    background-color: #f3f5f7 ;
    border-radius: 20px;
}

.sear input{
    flex: 1;
    margin-left: 19px;
    background-color: transparent;
    border:0;
    outline: none;
}

.sear input::placeholder{
    font-size:14px ;
    color: #999999;
}

.sear span{
    display: block;
    align-self: center;
    margin-right: 12px;
    width: 16px;
    height: 16px;
    background-image: url(./images/search.png);
}

/* 用户 */
.header .wrapped .user{
    display: flex;
    padding-top: 4px;
    margin-left: 32px;
}

.header .wrapped .user img{
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.header .wrapped .user span{
    font-size: 16px;
    margin-right: 7px;
    color: #666666;
}

/* banner */
.banner{
    height: 420px;
    background-color: #0092cb;
}

.banner .wrapped{
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 420px;
    background-image: url(./uploads/banner.png);
}

/* 左侧 */
.banner .wrapped .left{
    height: 420px;
    width: 191px;
    padding: 3px 20px;

    background-color: #00000042;
}

.banner .wrapped .left a{
    display: block;
    height: 46px;
    background: url(./images/right.png) right center no-repeat;
    font-size: 16px;
    color: #fff;
    line-height: 46px;
}

.banner .wrapped .left a:hover{
    background-image: url(./images/right-hover.png);
    color: #00a4ff;
}

/* 右侧 */
.banner .right .b{
    padding-top:18px ;
    height: 305px;
    width: 218px;
    background-color: #209dd5;
    border-radius: 10px;
}

.banner h4{
    margin-left: 14px;
    margin-bottom: 9px;
    font-size: 15px;
    color: #fff;
    line-height: 20px;
}

.banner .bb{
    height: 257px;
    width: 218px;
    border-radius: 10px;
    background-color: #fff;
    padding: 2px 14px;
}

.banner .right a{
    display: block;
    /* height: 64px; */
    border-bottom: 1px solid #e0e0e0;
}
.banner h6{
    margin-top: 12px;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    color: #333333;

}

.banner .right span{
    display: inline-block;
    margin: 8px 0px;
    font-size: 12px;
    line-height: 16px;
    color: #7d7d7d;
}

.banner .right .blue{
    color: #00a4ff;
}

.banner .right input{
    margin: 14px 0px;
    height: 32px;
    width: 190px;
    background-color: #00a4ff;
    font-size: 14px;
    color: #ffffff;
    border-radius:15px ;
    border: 0;
}

/* 精品推荐 */
.rec{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    margin-top: 12px;
    height: 60px;
    background-color: #fff;
}

.rec .re{
    font-size: 18px;
    color: #00a4ff;
}

.rec ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 911px;

    color: #e0e0e0;
}

.rec li a{
    font-size: 18px;
    color: #333333;
}

.rec span a{
    font-size: 16px;
    color: #00a4ff;
}

/* 精品推荐2 */
.recc{
    margin-top: 31px;
}

.recc .top{
    display: flex;
    justify-content: space-between;
}

h3{
    font-size: 21px;
    color: #333333;
    line-height: 32px;
    font-weight: normal;
}

.recc .top a,
.ff .hd .more,
.rr .hd .more{
    width: 76px;
    background: url(./images/more.png) right center no-repeat;
    font-size: 14px;
    color: #999999;
}

.recc ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-top: 15px;
    width: 1200px;
    height: 556px;

}

.recc li a{
    display: block;
    height: 271px;
    width: 228px;
    background-color: #fff;
}

.recc li img{
    height: 156px;
    width: 228px;
}

.recc h6{
    font-size: 14px;
    color: #333333;
    margin: 20px 20px;
    font-weight: normal;
}

.recc span{
    margin-top: 34px;
    line-height: 20px;
    color: #999999;
    font-size: 14px;
}

.recc .grade{
    color: #fa6400;
    margin-left: 20px;
}

/* 前端工程 */
/* python */
.ff{
    margin-top: 32px;
    height: 431px;
}

.ff .hd,
.rr .hd{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ff .hd ul,
.rr .hd ul{
    display: flex;
    justify-content: space-between;

    width: 308px;

    /* float: middle; */
}

.ff .hd li a,
.rr .hd li a{
    font-size: 16px;
    color: #333333;
}

.ff .hd ul li:first-child,
.ff .hd li a:hover,
.rr .hd ul li:first-child,
.rr .hd li a:hover{
    color: #00a4ff;
}

.ff .bd{
    display: flex;
    justify-content: space-between;

    margin-top: 15px;

}

.ff .left{
    height: 386px;
    width: 228px; 
}

.ff .right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 957px;
    height: 386px;

}

.ff .top{
    height: 100px;
    width: 957px;
}

.ff .body{
    display: flex;
    justify-content: space-between;

    width: 957px;
    height: 271px;
}

.ff .right ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


    width: 957px;
    height: 271px;

}

.ff .right li a{
    display: block;
    height: 271px;
    width: 228px;
    background-color: #fff;
}

.ff .right li img{
    height: 156px;
    width: 228px;
}

.ff h6{
    font-size: 14px;
    color: #333333;
    margin: 20px 20px;
    font-weight: normal;
}

.ff .right span{
    margin-top: 34px;
    line-height: 20px;
    color: #999999;
    font-size: 14px;
}

.ff .right .grade{
    color: #fa6400;
    margin-left: 20px;
}

/* 人工智能 */
.rr{
    margin-top: 32px;
    height: 316px;
}

.rr .bd{
    margin-top: 15px;
    width: 957px;
    height: 271px;
}


.rr .bd ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 1200px;
    height: 271px;

    /* float: middle; */
}

.rr .bd li a{
    display: block;
    height: 271px;
    width: 228px;
    background-color: #fff;
}

.rr li img{
    height: 156px;
    width: 228px;
}

.rr h6{
    font-size: 14px;
    color: #333333;
    margin: 20px 20px;
    font-weight: normal;
}

.rr  span{
    margin-top: 34px;
    line-height: 20px;
    color: #999999;
    font-size: 14px;
}

.rr .grade{
    color: #fa6400;
    margin-left: 20px;
}

/* 底部 */
.bottom{
    height: 273px;
    margin-top: 60px;
    padding-top: 60px;
    background-color: #fff;
}

.bottom .wrapped{
    display: flex;
    justify-content: space-between;
}

.bottom .left img{
    width: 195px;
    height: 61px;
}

.bottom .left p{
    margin-top: 24px;
    width: 432px;
    line-height: 17px;
    font-size: 12px;
    color: #666666;
}

.bottom .left input{
    margin-top: 24px;
    width: 120px;
    height: 36px;
    border:1px solid #00a4ff;
    font-size: 16px;
    color: #00a4ff;
    background-color: #fff;
}

.bottom .right{
    display: flex;
    width: 516px;
    justify-content: space-between;
}

.bottom dt{
    font-size: 16px;
    color: #333333;
    margin-bottom: 12px;
}

.bottom dd{
    /* margin-top: 12px; */
    font-size:14px;
    color: #666666;
    line-height: 24px;
}